[Desktop Entry]
Type=Application
Name=Postman
GenericName=REST
Exec="{{ ansible_env.HOME }}/.local/etc/postman/Postman/app/Postman"
Icon="{{ ansible_env.HOME }}/.local/etc/postman/Postman/app/icons/icon_128x128.png"
Terminal=false
