rofi.modi:                           combi,window,drun,run
rofi.opacity:                        100
rofi.terminal:                       tilix
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e '{ssh-client} {host}'
rofi.run-command:                    {cmd}
rofi.run-list-command:               
rofi.run-shell-command:              {terminal} -e '{cmd}'
rofi.window-command:                 xkill -id {window}
rofi.disable-history:                false
rofi.levenshtein-sort:               false
rofi.case-sensitive:                 false
rofi.cycle:                          true
rofi.sidebar-mode:                   false
rofi.eh:                             1
rofi.auto-select:                    false
rofi.parse-hosts:                    false
rofi.parse-known-hosts:              true
rofi.combi-modi:                     window,drun,run
rofi.fuzzy:                          false
rofi.glob:                           false
rofi.regex:                          false
rofi.tokenize:                       true
rofi.m:                              -1
rofi.line-margin:                    2
rofi.filter:                         
rofi.separator-style:                dash
rofi.hide-scrollbar:                 false
rofi.fullscreen:                     false
rofi.fake-transparency:              false
rofi.dpi:                            1
rofi.threads:                        1
rofi.scrollbar-width:                8
rofi.scroll-method:                  0
rofi.display-ssh:                    
rofi.display-run:                    
rofi.display-drun:                   
rofi.display-combi:                  
rofi.theme:                          {{ ansible_env.HOME }}/.config/rofi/my-theme.rasi
